.table-container {
  width: 80%;
  height: fit-content;
  background-color: aliceblue;
  border-radius: 0 0 1rem 1rem;
}

.table-container table {
  width: 100%;
}

.column-0 {
  width: 40%;
}
.column-1 {
  width: 20%;
}
.column-2 {
  width: 20%;
}
.column-3 {
  width: 20%;
}

table,
thead,
th,
td {
  border: solid 1px #bdbdbd;
  border-collapse: collapse;
  padding: 0.5rem;
}

.empty-row {
  padding: 1rem;
  text-align: center;
}
