.table-container {
  width: 80%;
  height: fit-content;
  margin-top: 8rem;
}

.table-container table {
  width: 100%;
}

.column-0 {
  width: 40%;
}
.column-1 {
  width: 20%;
}
.column-2 {
  width: 20%;
}
.column-3 {
  width: 20%;
}

table,
thead,
td {
  border: solid 1px grey;
  border-collapse: collapse;
}
